* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
}

/* CARD */
.rating-box {
    padding: 40px 60px;
    border-radius: 20px;
    background: #ffffff;
    text-align: center;

    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.15);

    transition: 0.4s;
}

.rating-box:hover {
    transform: translateY(-8px);
}

/* TITLE */
.rating-box h1 {
    margin-bottom: 25px;
    font-size: 32px;
}

/* STARS */
.stars {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.star {
    font-size: 55px;
    cursor: pointer;
    color: #000;

    transition: 0.3s;
}

/* 3D EFFECT */
.star:hover {
    transform: scale(1.3) rotateX(20deg);
}

/* ACTIVE STAR */
.star.active {
    color: #ffdd00;
    text-shadow:
        0 5px 15px rgba(255, 221, 0, 0.8);
}

/* RESPONSIVE */
@media (max-width: 500px) {
    .rating-box {
        width: 90%;
        padding: 30px;
    }

    .star {
        font-size: 45px;
    }
}

/* TOGGLE BUTTON */
.theme-toggle {
    position: absolute;
    top: 25px;
    right: 30px;

    padding: 10px 20px;
    border-radius: 25px;
    border: none;

    cursor: pointer;
    font-weight: bold;
    font-size: 14px;

    background: #111;
    color: #fff;

    transition: 0.3s;
}

/* LIGHT MODE */
body.light {
    background: #f7f7f7;
    color: #000;
}

body.light .rating-box {
    background: #ffffff;
    color: #000;
}

/* DARK MODE */
body.dark {
    background: #0f172a;
    color: #fff;
}

body.dark .rating-box {
    background: #1e293b;
    color: #fff;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.6);
}

body.dark .star {
    color: #555;
}

body.dark .star.active {
    color: #facc15;
}